.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.right {
  display: flex;
  flex: 1;
  padding: 70px;
}

.left {
  position: relative;
  display: flex;
  flex: 1;
  padding: 70px;
  background: url("../../assets/images/background/glowing-insects.jpg");
  background-size: cover;
  background-position: center;
}

.infoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title {
  text-align: left;
  color: #bc0e4d;
  font-size: 36px;
  font-family: "Laisha", sans-serif;
}

.description {
  width: 80%;
  font-size: 20px;
  line-height: 24px;
  font-family: "Laisha", sans-serif;
  text-align: left;
  color: #fff;
  line-height: 28px;
}

.backgroundTitle {
  z-index: 1;
  text-align: left;
  color: #fff;
  font-size: 50px;
  font-family: "Laisha", sans-serif;
  align-self: flex-end;
}

.overlayer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background: linear-gradient(to top, #151515, transparent);
}

@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
  }

  .left {
    position: absolute;
    height: 100vh;
    width: 100vw;
  }

  .right {
    position: absolute;
    background-color: transparent;
    height: 100vh;
    width: 100vw;
  }

  .overlayer {
    height: 80vh;
    background: linear-gradient(to top, #151515, transparent);
  }

  .infoContainer {
    align-items: center;
  }

  .description {
    text-align: center;
  }
}
