@import "../../fonts.css";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.section {
  display: flex;
  flex: 1;
  text-decoration: none;
  color: #fff;
  overflow: hidden;

  &:hover {
    .title {
      transform: scale(1.1);
    }
  }
}

.left {
  @extend .section;
  background: url("../../assets/images/background/pine-tree.jpg");
  background-size: cover;
  background-position: center;
}

.right {
  @extend .section;
  background: url("../../assets/images/background/butterfly.jpg");
  background-size: cover;
  background-position: center;
}

.overlayer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: rgba(15, 15, 15, 0.5);
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: rgba(15, 15, 15, 0);
  }
}

.title {
  font-family: "Laisha", sans-serif;
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 5px #000;

  p {
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
  }
}
