@import "../../fonts.css";

.container {
  width: 100vw;
  height: 100px;
  background: linear-gradient(to bottom, #000, #00000000);
  position: fixed;
  z-index: 999;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.font {
  font-family: "Laisha", sans-serif;
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease-in-out;
  text-align: center;

  &:hover {
    color: #bc0e4d;
  }

  p {
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
  }
}

.primaryLink {
  @extend .font;
  font-size: 28px;
  width: 250px;
}

.secondaryLink {
  @extend .font;
  font-size: 20px;
  pointer-events: all;
}

.listContainer {
  display: flex;
  justify-content: center;
  flex: 1;
}

.secondaryLinkList {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    width: 110px;
    text-align: center;
  }
}

.selected {
  color: #bc0e4d;
}

.logo {
  width: 100px;
}
