@import "../../fonts.css";

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: fit-content;
  padding-top: 100px;
}

.title {
  z-index: 2;
  color: #fff;
  margin: 40px 0;
  font-size: 36px;
  font-family: "Laisha", sans-serif;
  text-transform: uppercase;
}

.background {
  width: 100vw;
  min-height: 100vh;
  background: url("../../assets/images/background/butterfly.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: 1;
}

.overlayer {
  width: 100vw;
  min-height: 100vh;
  z-index: 2;
  position: fixed;
  background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
}
